.contador {
    display: flex;
    justify-content: center;
}


.boton-mas, .boton-menos {
    display: inline-block; 
    margin-top: 5px; 
    padding: 10px 20px; 
    margin: 15px;
    background-color: #f579b7; 
    color: white; 
    text-decoration: none; 
    border-radius: 5px; 
    border-color: #f52d91;
    transition: background-color 0.3s ease; 
    font-size: 20px;

    &:hover {
        background-color: #af0060; 
      }
}

p {
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin-top: 5px; 
    padding: 10px ; 
    margin: 15px;
}


.boton-agregar{
    display: inline-block; 
    margin-top: 15px; 
    padding: 10px 20px ; 
    margin: 15px;
    background-color: #f579b7; 
    color: white; 
    text-decoration: none; 
    border-radius: 5px; 
    border-color: #f52d91;
    transition: background-color 0.3s ease; 
    font-size: 15px;

    &:hover {
        background-color: #af0060; 
      }

}

